

<h3 class='text-danger'>{{response}}</h3>
<form>
    <div class="form-group">
      <label for="name">User Name</label>
      <input type="text" class="form-control" name="editUser.name" [(ngModel)]='editUser.name' aria-describedby="nameID" placeholder="player">
      <small id="nameID" class="form-text text-muted">Enter your Username</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="editUser.password" [(ngModel)]='editUser.password' placeholder="password">
    </div>
  </form>
  
  <button (click)='onEdit()' class='btn btn-primary'>Save</button> | <button (click)='onDelete()' class='btn btn-danger'>Delete User</button>
  