<div *ngIf="user.name.length">
  <p>Welcome {{user.name}}</p>
  <button class='btn btn-primary ' [routerLink]="['/play']">Play Game</button> | 
  <button (click)='onLogout()' class='btn btn-danger'>Logout</button>
</div>


<div *ngIf="user.name.length == 0">
<div class='row'>
    <button class='btn btn-primary ' [routerLink]="['/login']">Login stuff</button>
  </div>
  <hr>
  <div class='row'>
    <button class='btn btn-primary' [routerLink]="['/register']">Register stuff</button>
  </div>
</div>